P {color:#000000; font-family: Arial, Helvetica, sans-serif; font-size:12px;}
B {color:#336699;}
A {color:#003366; font-family: Arial, Helvetica, sans-serif;}
A:link {color:#003366;}
A:active {color:#336699;}
A:visited {color:#336699;}
BODY {background-color:#FFFFFF;}
H1 {color:#336699; font-family: Arial, Helvetica, sans-serif;}
H2 {color:#336699; font-family: Arial, Helvetica, sans-serif;}
H3 {color:#336699; font-family: Arial, Helvetica, sans-serif;}
H4 {color:#004060; font-family: Arial, Helvetica, sans-serif;; font-size: 16px}
H5 {color:#004060; font-family: Arial, Helvetica, sans-serif;; font-size: 16px}
LI {font-family: Arial, Helvetica, sans-serif;}
.text {font-family: Arial, Helvetica, sans-serif; font-size:10px;; background-color: #FFFFFF}h5 { color:#336699; font-family: Arial, Helvetica, sans-serif; ; font-size: 14px}
dt {  font-weight: bold; color: #006699}
