Source: pd-jmmmp
Section: sound
Priority: optional
Maintainer: Paul Brossier <piem@debian.org>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.3
Homepage: http://puredata.info

Package: pd-jmmmp
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, pd
Description: a collection of GUI objects for musical performance
 jmmmp is a collection of GUI objects for musical performance, including
 controlling the DAC, volume, debugging, linking up with other programs, etc.
