Source: pd-list-abs
Section: sound
Priority: optional
Maintainer: Paul Brossier <piem@debian.org>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.3
Homepage: http://puredata.info

Package: pd-list-abs
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, pd
Description: a library of list operations
 list-abs is a library of all sorts of operations for lists of data, ranging
 from mathematics, sorting, ranging, etc.
