Source: pd-purepd
Section: sound
Priority: optional
Maintainer: Debian Multimedia Maintainers <pkg-multimedia-maintainers@lists.alioth.debian.org>
Uploaders: Hans-Christoph Steiner <hans@eds.org>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.1
Homepage: http://puredata.info

Package: pd-purepd
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, pd
Description: a library of standard objects re-implemented using Pd-vanilla
 This is a library focused on re-implementing existing objects written in C
 using only objects that are included in puredata.  The idea is to provide
 drop-in replacements for the binary objects usable on any platform that are
 also understandable to any Pd programmer.
